@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: #1f1f1f; }

a {
  text-decoration: none;
  list-style-type: none;
  color: #1a1ff7; }
  a:hover {
    color: #1a1ff7; }

@-ms-viewport {
  width: device-width; }

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%; }
  .page__inner {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .page__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .page__footer-wrapper {
    -ms-flex-negative: 0;
        flex-shrink: 0; }

*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

* {
  -webkit-tap-highlight-color: transparent; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  word-break: break-word; }

[tabindex='-1']:focus {
  outline: none !important; }

[role='button'] {
  cursor: pointer; }

input[type='search'] {
  -webkit-appearance: textfield; }

a,
button,
[role='button'],
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  margin: 0; }

button,
input {
  overflow: visible;
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

svg {
  fill: currentColor; }
  a svg,
  button svg {
    pointer-events: none; }
  svg:not(:root) {
    overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0; }
  .page-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 320px) {
      .page-header__inner {
        width: 320px;
        padding: 0 30px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (min-width: 768px) {
      .page-header__inner {
        width: 840px;
        padding: 0 40px; } }
    @media (min-width: 1280px) {
      .page-header__inner {
        width: 1280px;
        padding: 0 60px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .page-header__logo {
    margin: 0;
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .page-header__worktime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }
    @media (min-width: 320px) {
      .page-header__worktime {
        display: none; } }
    @media (min-width: 768px) {
      .page-header__worktime {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 33px;
        font-weight: 400;
        font-size: 14px;
        color: #e8e8e8; } }
    @media (min-width: 1280px) {
      .page-header__worktime {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 30px;
        font-weight: 400;
        font-size: 14px;
        color: #e8e8e8; } }
  .page-header__icon {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 768px) {
      .page-header__icon {
        padding-left: 40px; } }
    @media (min-width: 1280px) {
      .page-header__icon {
        padding-left: 80px; } }
  .page-header__btn {
    margin-left: 24px;
    padding: 0;
    border: none;
    background-color: #ffffff;
    background-color: transparent; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }
  @media (min-width: 320px) {
    .main-nav {
      display: none; } }
  @media (min-width: 768px) {
    .main-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      margin: 0;
      padding: 0; } }
  @media (min-width: 1280px) {
    .main-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      margin: 0;
      padding: 0; } }
  .main-nav__toggle {
    display: none;
    margin: 0;
    padding: 0; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px; }
  .main-nav__item {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    list-style: none; }
  .main-nav__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 700; }

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5; }
  .promo__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    @media (min-width: 320px) {
      .promo__inner {
        width: 360px; } }
    @media (min-width: 768px) {
      .promo__inner {
        width: 768px; } }
    @media (min-width: 1280px) {
      .promo__inner {
        width: 1280px;
        padding: 0 60px; } }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  .slider__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 0; }
    @media (min-width: 1280px) {
      .slider__inner {
        width: 1042px;
        height: 450px; } }
  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 320px) {
      .slider__item {
        padding: 0; } }
    @media (min-width: 768px) {
      .slider__item {
        padding: 0; } }
    @media (min-width: 1280px) {
      .slider__item {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding-top: 52px; } }
  .slider__item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0; }
    @media (min-width: 320px) {
      .slider__item-text {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .slider__item-title {
    display: none; }
  .slider__item-descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    font-weight: 400;
    font-style: italic; }
    @media (min-width: 320px) {
      .slider__item-descr {
        padding-top: 34px;
        padding-left: 32px;
        padding-bottom: 28px;
        font-size: 14px; } }
    @media (min-width: 768px) {
      .slider__item-descr {
        padding-bottom: 25px;
        padding-left: 0;
        font-size: 16px; } }
    @media (min-width: 1280px) {
      .slider__item-descr {
        width: 400px;
        padding-left: 0;
        font-size: 16px; } }
  .slider__item-border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    border: solid 8px #e8e8e8; }
    @media (min-width: 320px) {
      .slider__item-border {
        margin: 0 auto;
        padding: 0;
        width: 335px;
        height: 275px; } }
    @media (min-width: 768px) {
      .slider__item-border {
        width: 560px;
        height: 310px; } }
    @media (min-width: 1280px) {
      .slider__item-border {
        width: 500px;
        height: 350px; } }
  .slider__item-sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    font-weight: 700; }
    @media (min-width: 320px) {
      .slider__item-sign {
        font-size: 24px;
        margin: 0;
        padding-left: 16px;
        text-align: left; } }
    @media (min-width: 1280px) {
      .slider__item-sign {
        margin: 0;
        padding-left: 36px;
        padding-top: 50px;
        font-size: 40px; } }
  .slider__item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 320px) {
      .slider__item-link {
        margin: 0; } }
    @media (min-width: 1280px) {
      .slider__item-link {
        margin: 0;
        padding-left: 36px; } }
  @media (min-width: 320px) {
    .slider__item-pic {
      display: none; } }
  @media (min-width: 768px) {
    .slider__item-pic {
      display: none; } }
  @media (min-width: 1280px) {
    .slider__item-pic {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 305px;
      height: 428px;
      padding: 0;
      margin-left: 130px;
      margin-top: 20px; } }
  .slider__item-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-width: 300px; }

.catalog {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5; }
  .catalog__title {
    display: none; }
  .catalog__tabs-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e8e8e8; }
  .catalog__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (min-width: 320px) {
      .catalog__tabs {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        overflow-x: auto; } }
    @media (min-width: 1280px) {
      .catalog__tabs {
        width: 1280px;
        margin: 0 auto;
        padding-left: 100px; } }
  .catalog__tab-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    list-style-type: none; }
  .catalog__tab-link {
    margin: 0;
    padding-bottom: 9px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #1f1f1f; }
    @media (min-width: 320px) {
      .catalog__tab-link {
        padding-left: 30px; } }
    @media (min-width: 768px) {
      .catalog__tab-link {
        padding-left: 50px; } }
    @media (min-width: 1280px) {
      .catalog__tab-link {
        padding-left: 50px; } }
  .catalog__list-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 320px) {
      .catalog__list-wrap {
        width: 320px; } }
    @media (min-width: 768px) {
      .catalog__list-wrap {
        width: 768px; } }
    @media (min-width: 1280px) {
      .catalog__list-wrap {
        width: 1280px; } }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (min-width: 320px) {
      .catalog__list {
        width: 320px;
        padding-top: 40px;
        padding-bottom: 60px; } }
    @media (min-width: 768px) {
      .catalog__list {
        width: 768px;
        padding-top: 50px; } }
    @media (min-width: 1280px) {
      .catalog__list {
        width: 1280px;
        padding-top: 52px; } }

.book-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0; }
  @media (min-width: 320px) {
    .book-card {
      width: 220px;
      height: 490px;
      margin-left: 30px;
      margin-bottom: 50px; } }
  @media (min-width: 768px) {
    .book-card {
      width: 260px;
      height: 550px;
      margin-left: 90px;
      margin-bottom: 60px; } }
  @media (min-width: 1280px) {
    .book-card {
      width: 260px;
      height: 550px;
      margin-left: 40px;
      margin-bottom: 78px; } }
  .book-card__img-wrap {
    width: 260px; }
    @media (min-width: 1280px) {
      .book-card__img-wrap {
        height: 368px; } }
  .book-card__img {
    width: 100%; }
  .book-card__story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 150px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: left; }
    @media (min-width: 1280px) {
      .book-card__story {
        height: 150px;
        margin-top: 32px; } }
  .book-card__title {
    margin: 0;
    padding-top: 34px;
    font-weight: 700;
    font-size: 24px;
    text-align: left; }
  .book-card__link {
    color: #1f1f1f; }
  .book-card__descr {
    margin: 0;
    padding-top: 26px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-align: left; }
  .book-card__price {
    margin: 0;
    padding-top: 18px;
    font-weight: 700;
    font-size: 16px; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none; }

.delivery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-top: 160px;
  background-color: #f5f5f5; }
  .delivery__wrap {
    position: relative;
    padding: 0;
    border: solid 8px #e8e8e8; }
    @media (min-width: 320px) {
      .delivery__wrap {
        width: 320px;
        margin: 0 12px; } }
    @media (min-width: 1280px) {
      .delivery__wrap {
        width: 1280px; } }
  .delivery__wrap:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 10%;
    width: 30%;
    height: 8px;
    background-color: #f5f5f5;
    z-index: 100; }
  .delivery__wrap:after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 10%;
    width: 30%;
    height: 8px;
    background-color: #f5f5f5;
    z-index: 100; }
  .delivery__cap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 55px 60px 65px 60px; }
  .delivery__title {
    font-weight: 700;
    font-size: 30px; }
  .delivery__sign {
    font-weight: 400;
    font-size: 16px;
    color: #676767; }
  .delivery__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    @media (min-width: 320px) {
      .delivery__section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (min-width: 1280px) {
      .delivery__section {
        width: 1280px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-bottom: 84px;
        padding-right: 55px; } }
  .delivery__sectionBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    margin: 0 auto;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: start;
        align-content: flex-start; }

.delivery-box__icon {
  height: auto; }
  .delivery-box__icon--books {
    width: 50px; }
  .delivery-box__icon--present {
    width: 60px; }
  .delivery-box__icon--orders {
    width: 65px; }
  .delivery-box__icon--cities {
    width: 52px; }

.delivery-box__desc {
  font-size: 14px;
  font-weight: 500;
  text-align: center; }

.newitems {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5; }
  .newitems__cap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto; }
    @media (min-width: 1280px) {
      .newitems__cap {
        width: 1280px;
        padding: 114px 36px 50px 36px; } }
  .newitems__title {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 30px; }
  .newitems__link {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px; }
  .newitems__list-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #f4d4e4), color-stop(80%, #f5f5f5));
    background: linear-gradient(to top, #f4d4e4 80%, #f5f5f5 80%); }
  .newitems__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (min-width: 1280px) {
      .newitems__list {
        width: 1280px;
        padding: 0 0 82px 36px; } }

.newitems-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  height: 512px;
  padding: 0; }
  @media (min-width: 1280px) {
    .newitems-card {
      width: 1280px;
      margin: 0 auto;
      padding-right: 38px; } }
  .newitems-card__img {
    width: 100%;
    margin: 0;
    padding: 0; }
  .newitems-card__title {
    font-weight: 700;
    font-size: 24px; }
  .newitems-card__link {
    color: #1f1f1f; }
  .newitems-card__descr {
    margin: 0;
    padding-top: 26px;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    font-size: 16px;
    font-weight: 400;
    font-style: italic; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  padding: 16px 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 1280px) {
      .footer__inner {
        width: 1280px; } }
  .footer__logo {
    margin: 0;
    padding: 0; }
  .footer__worktime {
    margin: 0;
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    color: #e8e8e8; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0; }
  .footer-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    font-weight: 700;
    font-size: 14px; }
  .footer-nav__item {
    margin: 0;
    padding-right: 20px;
    list-style: none; }
  .footer-nav__link {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 700; }

/*# sourceMappingURL=style.css.map */
