.book-card {
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $screen-xs) {
    width: 220px;
    margin-bottom: 47px;
    margin-right: 0;
  }

  @media (min-width: $screen-sm) {
    width: 260px;
    margin-bottom: 56px;
    margin-right: 90px;
  }

  @media (min-width: $screen-lg) {
    width: 260px;
    min-height: 550px;
    margin-right: 40px;
    margin-bottom: 78px;
  }

  &__img-wrap {
    padding: 0;
    margin: 0;
  }

  &__img:hover {
    box-shadow: 0px 0px 50px -1px rgba(215,86,157,1);
  }

  &__img {
    width: 261px;
    height: auto;
    padding: 0;

    @media (min-width: $screen-sm) {

    }
  }

  &__story {
    display: flex;
    min-height: 147px;
    margin: 0;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;

    @media (min-width: $screen-xs) {
      padding-top: 40px;
    }

    @media (min-width: $screen-sm) {
      padding-top: 36px;
    }

    @media (min-width: $screen-lg) {
      min-height: 147px;
      padding-top: 32px;
    }
  }

  &__title {
    padding-bottom: 30px;
    margin: 0;
    font-weight: 700;
    font-size: $font-size-m;
  }

  &__link {
    color: $text-color;
  }

  &__descr {
    margin: 0;
    padding: 0;
    font-size: $font-size-s;
    font-weight: 400;
    font-style: italic;
  }

  &__price {
    margin: 0;
    padding-top: 18px;
    font-weight: 700;
    font-size: $font-size-s;
  }
}
