.book-card {
  display: flex;
  width: 260px;
  height: 550px;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;

  @media (min-width: $screen-xs) {
    margin-bottom: 50px;
  }

  @media (min-width: $screen-sm) {
    margin-left: 90px;
    margin-bottom: 60px;
  }

  @media (min-width: $screen-lg) {
    margin-left: 40px;
    margin-bottom: 78px;
  }

  &__img-wrap {
    max-width: 260px;
    padding: 0;
  }

  &__img-wrap:hover {
    box-shadow: 50px -1px rgba(215,86,157,1);
  }

  &__img {
  }

  &__story {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
  }

  &__title {
    margin-bottom: 30px;
    padding: 0;
    font-weight: 700;
    font-size: $font-size-m;
    text-align: left;
  }

  &__link {
    color: $text-color;
  }

  &__descr {
    margin: 0;
    padding: 0;
    font-size: $font-size-s;
    font-weight: 400;
    font-style: italic;
    text-align: left;
  }

  &__price {
    margin: 0;
    padding-top: 18px;
    font-weight: 700;
    font-size: $font-size-s;
  }
}
