.bookinner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: $bcg;
  padding: 0;
  margin: 0;

  &__preview {
    margin: 0;
    padding-top: 40px;
  }
}

.bookinfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding-top: 40px;

  &__img {
    width: 320px;
    height: auto;
  }

  &__salecard {
  }

  &__title {
  }

  &__title-name {
  }

  &__title-headline {
  }

  &__disc {
    grid-column: 1 / 3;

  }
}
