.catalog {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $bcg;

	&__title {
    display: none;
	}

	&__tabs-wrap {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $gray;

    @media (min-width: $screen-xs) {

    }

    @media (min-width: $screen-sm) {
    }

    @media (min-width: $screen-lg) {

    }
	}

	&__tabs {
    display: flex;
    width: 100%;
    min-height: 50px;
    flex-direction: row;
    align-items: flex-end;

    @media (min-width: $screen-xs) {
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {
      width: 1280px;
      margin: 0 auto;
      padding-left: 100px;
    }
	}

	&__tab-item {
    display: flex;
    margin: 0;
    list-style-type: none;
	}

	&__tab-link {
    margin: 0;
    padding-bottom: 9px;
    text-decoration: none;
    font-weight: 500;
    font-size: $font-size-s;
    color: $text-color;

    @media (min-width: $screen-xs) {
      padding-left: 30px;
    }

    @media (min-width: $screen-sm) {
      padding-left: 50px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 50px;


    }
	}

  &__list-wrap {
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    @media (min-width: $screen-xs) {
      width: 320px;
    }

    @media (min-width: $screen-sm) {
      width: 768px;
    }

    @media (min-width: $screen-lg) {
      width: 1280px;
    }
  }

  &__list {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;

    @media (min-width: $screen-xs) {
      width: 320px;
      padding-top: 40px;
      padding-bottom: 60px;
    }

    @media (min-width: $screen-sm) {
      width: 768px;
      padding-top: 50px;
    }

    @media (min-width: $screen-lg) {
      width: 1280px;
      padding-top: 52px;
    }
  }
}
