.contacts {
  display: flex;
  min-height: 185px;
  margin: 0 auto;
  padding: 0;
  background-color: $bcg;

  &__inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;

    @media (min-width: $screen-xs) {
      width: 300px;
    }

    @media (min-width: $screen-sm) {
      width: 680px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }

  &__title {
    width: 100%;
    margin: 0;
    justify-content: flex-start;

    @media (min-width: $screen-xs) {
      padding-top: 35px;
    }

    @media (min-width: $screen-lg) {
      font-weight: 700;
      font-size: $font-size-xxl;
    }
  }

  &__info {
    display: flex;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;

    @media (min-width: $screen-xs) {
      flex-direction: column;
      padding-top: 44px;
      padding-left: 0;
    }

    @media (min-width: $screen-sm) {
      padding-left: 0;
      flex-direction: row;
    }

    @media (min-width: $screen-lg) {
      flex-direction: row;
      padding-top: 55px;
      padding-left: 0;
    }
  }

  &__info-list {
    min-width: 300px;
    margin: 0;

    @media (min-width: $screen-xs) {
      padding-bottom: 27px;
    }

    @media (min-width: $screen-sm) {
      padding-bottom: 27px;
      padding-right: 70px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 0;
      padding-right: 100px;
    }
  }

  &__info-list:before {
    color: $link-color;
    content: "•";
    padding-right: 15px;
  }
}
