.footer {
  display: flex;
  height: 50px;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $screen-xs) {
    height: 80px;
  }

  @media (min-width: $screen-sm) {
    height: 50px;
  }

  @media (min-width: $screen-lg) {
    height: 50px;
  }

  &__inner {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;

    @media (min-width: $screen-xs) {
      width: 300px;
    }

    @media (min-width: $screen-sm) {
      width: 680px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }

  &__wraper-mobil {
    margin: 0;
    padding: 0;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: row;
    }
  }

  &__logo {
    margin: 0;
    padding: 0;

    @media (min-width: $screen-xs) {
      width: 125px;
    }
  }

  &__worktime {
    margin: 0;
    font-weight: 400;
    font-size: $font-size-xs;
    color: $dark-gray;

    @media (min-width: $screen-xs) {
      padding-top: 8px;
    }

    @media (min-width: $screen-sm) {
      padding-top: 0;
    }
  }
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  @media (min-width: $screen-xs) {
    max-width: 70px;
  }

  @media (min-width: $screen-sm) {
    max-width: 100%;
  }

  @media (min-width: $screen-lg) {
    max-width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: $font-size-xs;

    @media (min-width: $screen-xs) {
      overflow-x: auto;
    }

    @media (min-width: $screen-sm) {
      overflow-x: auto;
    }

    @media (min-width: $screen-lg) {
      overflow-x: auto;
    }
  }

  &__item {
    margin: 0;
    padding-right: 20px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $text-color;
    font-weight: 700;
  }

  &__link:hover {
    color: $active;
  }
}
