.main-nav {
  display: flex;
  margin: 0;
  padding: 0;

  @media (min-width: $screen-xs) {
    order: 3;
    z-index: 2;
  }

  @media (min-width: $screen-sm) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $screen-lg) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  &__burger {
    margin: 0;
    padding: 0;

    @media (min-width: $screen-xs) {
      display: flex;
      position: relative;
      width: 20px;
      margin: 0 auto;
      flex-wrap: wrap;
      background-color: transparent;
      border: none;
    }

    @media (min-width: $screen-sm) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }

    span.line {
      display: inline-block;
      margin-bottom: 4px;
      background-color: #000;
      width: 100%;
      height: 3px;
    }
  }

  &__burger-menu {
    display: inline-block;
    height: 140px;
    width: 196px;
    position: absolute;
    top: 50px;
    right: 12px;
    padding: 18px 20px 20px 50px;
    background-color: $pink-light;
    line-height: 1.5;
    opacity: 0.9;
    z-index: 2;

    @media (min-width: $screen-sm) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }


  &__burger-list {
    margin: 0;
    padding: 0;
  }

  &__burger-link {
    font-weight: 700;
    font-size: $font-size-xs;
    color: $text-color;
  }

  &__burger-link:hover {
    font-weight: 700;
    font-size: $font-size-xs;
    color: $pink;
  }

  &__burger-linktel {
    font-weight: 700;
    font-size: $font-size-xs;

  }

  &__burger-linksvg {
    position: absolute;
    left: 26px;
    fill: $link-color;
  }

  &__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: $font-size-xs;

    @media (min-width: $screen-xs) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      display: flex;
      order: 3;
    }

    @media (min-width: $screen-lg) {
      order: 3;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    list-style: none;
  }

  &__burger-itemtel {
    position: absolute;
    top: 96px;
    left: 26px;
  }

  &__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $text-color;
    font-weight: 700;
  }

  &__link:hover {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $pink;
    font-weight: 700;
  }
}

.linkactive {
  color: $pink;
}

.close:before, .close:after {
    position: absolute;
    content: ' ';
    right: 8px;
    top: -14px;
    height: 24px;
    width: 3px;
    background-color: black;
  }

  .close:before {
      transform: rotate(45deg);
  }

  .close:after {
      transform: rotate(-45deg);
  }
