.newitems {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $bcg;

  &__cap {
    display: flex;
    margin: 0 auto;

    @media (min-width: $screen-xs) {
      flex-direction: column;
      padding-top: 112px;
      padding-left: 30px;
    }

    @media (min-width: $screen-sm) {
      width: 688px;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 114px;
      padding-left: 0;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 114px;
      padding-left: 0;
    }
  }

  &__title {
    margin: 0;
    font-family: $font-family;
    font-weight: 700;
    font-size: $font-size-l;

    @media (min-width: $screen-xs) {
      padding-bottom: 34px;
    }

    @media (min-width: $screen-sm) {
      padding-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 0;
    }
  }

  &__link {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: $font-size-s;
    cursor: pointer;
  }

  &__list-wrap {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    background: linear-gradient(to top, $hover 80%, $bcg 80%);
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: space-between;

    @media (min-width: $screen-xs) {
      flex-wrap: nowrap;
      padding-top: 38px;
      padding-bottom: 82px;
      padding-left: 30px;
    }

    @media (max-width: $screen-lg) {
      overflow-x: auto;
    }

    @media (min-width: $screen-sm) {
      padding-left: 40px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
      padding-top: 50px;
      padding-bottom: 82px;
      padding-left: 0;
      justify-content: space-between;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 512px;
    padding: 0;

    @media (min-width: $screen-xs) {
      height: auto;
      margin-right: 38px;
    }

    @media (min-width: $screen-sm) {
      height: auto;
      margin-right: 38px;
    }

    @media (min-width: $screen-lg) {
      height: auto;
      margin-right: 38px;
    }
  }

  &__card-imgwrap {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  &__card-imgwrap:hover {
    box-shadow: 0px 0px 50px -1px rgba(215,86,157,1);
  }

  &__card-img {
    height: 370px;
    display: block;
  }

  &__card-title {
    font-weight: 700;
    font-size: $font-size-m;
  }

  &__card-link {
    color: $text-color;
  }

  &__card-descr {
    margin: 0;
    padding-top: 26px;
    align-content: flex-end;
    font-size: $font-size-s;
    font-weight: 400;
    font-style: italic;
  }
}
