.newitems {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $bcg;

  &__cap {
    display: flex;
    margin: 0 auto;


    @media (min-width: $screen-xs) {
      flex-direction: column;
      padding-top: 112px;
      padding-bottom: 38px;
      padding-left: 30px;
    }

    @media (min-width: $screen-sm) {
    }

    @media (min-width: $screen-lg) {
      width: 1280px;
      flex-direction: row;
      justify-content: space-between;
      padding: 114px 36px 50px 36px;
    }
  }

  &__title {
    margin: 0;
    font-family: $font-family;
    font-weight: 700;
    font-size: $font-size-l;

    @media (min-width: $screen-xs) {
      padding-bottom: 34px;
    }

    @media (min-width: $screen-sm) {
      padding-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 0;
    }
  }

  &__link {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: $font-size-s;
  }

  &__list-wrap {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    background: linear-gradient(to top, $pink-light 80%, $bcg 80%);
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    align-items: flex-end;

    @media (min-width: $screen-xs) {
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-bottom: 82px;
      padding-left: 30px;
    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {
      width: 1280px;
      padding-bottom: 82px;
      padding-left: 36px;
      justify-content: space-between;
    }
  }
}

.newitems-card {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 512px;
  padding: 0;

  @media (min-width: $screen-xs) {
    margin-right: 38px;
  }

  @media (min-width: $screen-sm) {
    margin-right: 38px;
  }

  @media (min-width: $screen-lg) {
    margin-right: 38px;
  }

  &__img-wrap {
    max-width: 260px;
    height: 370px;
  }

  &__img {
    margin: 0;
    padding: 0;
  }

  &__title {
    font-weight: 700;
    font-size: $font-size-m;

    @media (min-width: $screen-xs) {
    }

    @media (min-width: $screen-sm) {
    }

    @media (min-width: $screen-lg) {
    }
  }

  &__link {
    color: $text-color;
  }

  &__descr {
    margin: 0;
    padding-top: 26px;
    align-content: flex-end;
    font-size: $font-size-s;
    font-weight: 400;
    font-style: italic;
  }
}
