.page-header {
  display: flex;
  height: 50px;
  margin: 0 auto;
  padding: 0;

  &__inner {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    @media (min-width: $screen-xs) {
      width: 300px;

      align-items: center;
    }

    @media (min-width: $screen-sm) {
      width: 680px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
      flex-direction: row;
      align-items: center;
    }
  }

  &__logo {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;

    @media (min-width: $screen-xs) {
      order: 1;
    }

    @media (min-width: $screen-sm) {
      order: 1;
    }

    @media (min-width: $screen-lg) {
      order: 1;
    }
  }

  &__worktime {
    display: flex;
    margin: 0;

    @media (min-width: $screen-xs) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      display: flex;
      order: 2;
      padding-left: 33px;
      font-weight: 400;
      font-size: $font-size-xs;
      color: $gray;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      order: 2;
      padding-left: 30px;
      font-weight: 400;
      font-size: $font-size-xs;
      color: $gray;
    }
  }

  &__icon {
    margin: 0;
    align-items: center;
    flex-direction: row;

    @media (min-width: $screen-xs) {
      display: flex;
      order: 2;
      padding-left: 114px;
    }

    @media (min-width: $screen-sm) {
      padding-left: 40px;
      order: 4;
    }

    @media (min-width: $screen-lg) {
      padding-left: 80px;
      order: 4;
    }
  }

  &__btn {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__phone {
    margin-left: 20px;
    padding: 0;
    border: none;
    background-color: transparent;

    @media (min-width: $screen-xs) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      display: flex;
    }

    @media (min-width: $screen-lg) {
      display: flex;
    }
  }
}

