.page {
  display: flex;
  margin: 0;
  padding: 0;

  &__inner {
    display: flex;
    flex-direction: row;
    list-style: none;

    @media (min-width: $screen-xs) {
      margin: 0 auto;
      padding: 0;
    }

    @media (min-width: $screen-sm) {
      margin: 0;
      padding-left: 90px;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
      padding-left: 60px;
    }
  }

  &__list {
    margin: 0;
    padding-right: 18px;
    font-weight: 700;
    font-size: $font-size-s;
  }

  &__link {
    color: $text-color;
  }

  &__link:hover {
    margin: 0;
    padding: 5px 10px;
    background-color: $pink-light;
    color: $text-color;
    border-radius: 60%;
    transition: all 0.3s;
  }

  &__separator {
    margin: 0;
    padding-right: 18px;
  }

  .j-current {
    margin: 0;
    padding: 5px 10px;
    background-color: $pink-light;
    color: $pink;
    border-radius: 60%;
  }
}
