.page-header {
  display: flex;
  height: 50px;
  margin: 0;
  padding: 0;

  &__inner {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    @media (min-width: $screen-xs) {
      width: 320px;
      padding: 0 30px;
      align-items: center;
    }

    @media (min-width: $screen-sm) {
      width: 840px;
      padding: 0 40px;
    }

    @media (min-width: $screen-lg) {
      width: 1280px;
      padding: 0 60px;
      flex-direction: row;
      align-items: center;
    }
  }

  &__logo {
    margin: 0;
    padding: 0;
    justify-content: flex-start;

    @media (min-width: $screen-xs) {
    }

    @media (min-width: $screen-sm) {
    }

    @media (min-width: $screen-lg) {
    }
  }

  &__worktime {
    display: flex;
    margin: 0;

    @media (min-width: $screen-xs) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      display: flex;
      padding-left: 33px;
      font-weight: 400;
      font-size: $font-size-xs;
      color: $gray;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      padding-left: 30px;
      font-weight: 400;
      font-size: $font-size-xs;
      color: $gray;
    }
  }

  &__icon {
    margin: 0;
    align-items: center;

    @media (min-width: $screen-sm) {
      padding-left: 40px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 80px;
    }
  }

  &__btn {
    margin-left: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

