.page {
  display: flex;
  margin: 0;
  padding: 0;

  &__inner {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;

    @media (min-width: $screen-xs) {

    }

    @media (min-width: $screen-sm) {
      width: 610px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }

  &__list {
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 60%;
    font-weight: 700;
    font-size: $font-size-s;

    &:hover {
    background-color: $pink-light;
    color: $pink;
    transition: all 0.3s;
    }

    &:active {
      color: $pink;
      background-color: transparent;

      &:active a {
      color: $gray;
      background-color: transparent;
      }
    }
  }

  &__link {
    color: $text-color;
    background-color: transparent;
    cursor: pointer;
  }

  &__separator {
    margin: 0;
    padding-right: 18px;
  }

  .j-current {
    background-color: $pink-light;
    color: $pink;
  }

  .j-current:activa {
    color: $pink;
  }
}
