.promo {
  display: flex;
  height: 600px;
  margin: 0;
  padding: 0;
  background-color: $bcg;

  &__inner {
    display: flex;
    margin: 0 auto;

    @media (min-width: $screen-xs) {

    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {
      width: 1280px;
      padding: 0 60px;
    }
  }
}
