.questions {
  width: 100%;
  margin: 0 auto;
  background-color: $bcg;

  @media (min-width: $screen-xs) {
    min-height: 630px;
    padding-bottom: 50px;
  }

  @media (min-width: $screen-sm) {
    min-height: 490px;
    padding-bottom: 57px;
  }

  @media (min-width: $screen-lg) {
    min-height: 395px;
    padding-bottom: 50px;
  }

  &__wrap {
    position: relative;
    padding: 0;
    margin: 0 auto;
    border: solid 8px $gray;


    @media (min-width: $screen-xs) {
      width: 340px;
      min-height: 580px;
      padding-left: 20px;
    }

    @media (min-width: $screen-sm) {
      width: 680px;
      min-height: 430px;
      padding-left: 28px;
    }

    @media (min-width: $screen-lg) {
      width: 1220px;
      min-height: 344px;
      padding-left: 28px;
    }
  }

  &__wrap:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 10%;
    width: 30%;
    height: 8px;
    background-color: $bcg;
    z-index: 1;
  }

  &__wrap:after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 10%;
    width: 30%;
    height: 8px;
    background-color: $bcg;
    z-index: 1;
  }

  &__title {
    margin: 0;
    padding-top: 70px;
    font-weight: 700;
    font-size: $font-size-l;
  }

  &__sing {
    margin: 0;
    font-weight: 500;
    font-size: $font-size-s;

    @media (min-width: $screen-xs) {
      padding-top: 27px;
      padding-bottom: 42px;
    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {
      padding-top: 27px;
      padding-bottom: 44px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-weight: 500;
    font-size: $font-size-s;

    @media (min-width: $screen-xs) {

    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {
      justify-content: space-between;
      margin: 0 auto;

    }
  }

  &__form-direction {
    margin: 0;
    padding: 0;

    @media (min-width: $screen-xs) {
      margin: 0;
      flex-direction: column;
      flex-wrap: wrap;
    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__form-view {
    height: 50px;
    padding: 0;
    border: none;
    border-bottom: 4px solid $gray;
    background-color: transparent;
    color: $gray;
    outline: 0;

    @media (min-width: $screen-xs) {
      width: 90%;
      margin-bottom: 44px;
    }

    @media (min-width: $screen-sm) {
      width: 45%;
    }

    @media (min-width: $screen-lg) {
      width: 30%;
      margin-right: 40px;
    }
  }

  &__form-view:first-child {

    @media (min-width: $screen-sm) {
      margin-right: 40px;
    }
  }

  &__form-button {
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: $text-color;
    border: none;
    font-weight: 700;
    font-size: $font-size-s;
    color: $gray;

    @media (min-width: $screen-xs) {
      width: 90%;
      position: absolute;
      bottom: 88px;
      left: 15px;
    }

    @media (min-width: $screen-sm) {
      width: 50%;
      position: absolute;
      bottom: 60px;
      left: 25px;
    }

    @media (min-width: $screen-lg) {
      width: 30%;
      position: relative;
      bottom: 0;
      left: 0;
    }
  }

  &__checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  &__checksign {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: $font-size-xs;
    line-height: 1.5;

    @media (min-width: $screen-xs) {
      padding-bottom: 180px;
    }

    @media (min-width: $screen-sm) {
      width: 400px;
      padding-bottom: 156px;
    }

    @media (min-width: $screen-lg) {
      width: 400px;
      padding-bottom: 0;
      margin-bottom: 75px;
    }
  }

input[type="checkbox"] {
display: none;
}

label:before {
  display: inline-block;
  content: " ";
  color: #000;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 18px;
  height: 18px;
  border: 5px solid $gray;
  vertical-align: middle;
}

input:checked + label:before {
  content: 'V';
  color: $pink;
}

input:disabled + label:before {
  color: red;
}

input:required {
  border-color: $pink-light;
  color: $text-color;
}

input:focus:required{
  border-color: $pink;
  color: $text-color;
}
}
