.recommend {
  display: flex;
  margin: 0 auto;
  padding: 0;
  background-color: $bcg;
  flex-direction: column;

  @media (min-width: $screen-xs) {
    height: 1500px;
  }

  @media (min-width: $screen-sm) {
    height: 1020px;
  }

  @media (min-width: $screen-lg) {
    height: 1020px;
  }

  &__title {
    margin: 0 auto;
    padding: 0;

    @media (min-width: $screen-sm) {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 680px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
      font-weight: 700;
      font-size: $font-size-xxl;
    }
  }

  &__mainblock {
    display: grid;
    padding: 0;
    margin: 0 auto;

    @media (min-width: $screen-xs) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
      grid-template-areas:
        "voting"
        "newarticle"
        "photogall"
        "opinion"
        "children"
        "oldbooks";
    }

    @media (min-width: $screen-sm) {
      width: 760px;
      height: 720px;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "newarticle voting voting aside"
        "photogall voting voting aside"
        "photogall opinion children aside"
        "oldbooks oldbooks oldbooks aside";
    }

    @media (min-width: $screen-lg) {
      width: 1180px;
      height: 720px;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 170px 170px 180px 170px;
      grid-template-areas:
        "newarticle voting voting aside"
        "photogall voting voting aside"
        "photogall opinion children aside"
        "oldbooks oldbooks oldbooks aside";
    }
  }

  &__newarticle {
    grid-area: newarticle;
    margin: 0;
    background-color: #fff;
    box-shadow: 0px 0px 34px 10px rgba(232,232,232,1);


    @media (min-width: $screen-xs) {
      height: 170px;
      text-align: center;
    }

    @media (min-width: $screen-sm) {
      width: 300px;
      height: 230px;
      border-radius: 6px;
    }

    @media (min-width: $screen-lg) {
      width: 300px;
      height: 170px;
      padding-left: 26px;
      border-radius: 6px;
    }
  }

  &__headline {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 22px;
    font-weight: 700;
    font-size: $font-size-s;
    line-height: 1.5;
  }

  &__sign {
    margin: 0;
    padding-bottom: 22px;
    font-weight: 400;
    font-size: $font-size-s;
    line-height: 1.5;
  }

  &__voting {
    grid-area: voting;
    height: 350px;
    margin: 0;
    padding-top: 36px;
    background-image: url(../img/voting.png);
    background-size: cover;
    border-radius: 6px;
    text-align: center;

    @media (min-width: $screen-xs) {
      text-align: center;
    }

    @media (min-width: $screen-sm) {
      width: 450px;
    }

    @media (min-width: $screen-lg) {
      width: 580px;
    }
  }

  &__whitesign {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: $font-size-m;
    line-height: 1.5;
    color: #fff;
  }

  &__sign-white {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: $font-size-s;
    line-height: 1.5;
    color: #fff;
  }

  &__photogallery {
    grid-area: photogall;
    margin: 0;
    padding-top: 126px;
    background-image: url(../img/photogall.png);
    background-size: cover;
    border-radius: 6px;
    text-align: center;

    @media (min-width: $screen-xs) {
      height: 360px;
      text-align: center;
    }

    @media (min-width: $screen-sm) {
      width: 300px;
      height: 360px;
    }

    @media (min-width: $screen-lg) {
      width: 300px;
      height: 360px;
    }
  }

  &__opinion {
    grid-area: opinion;
    margin: 0;
    padding-left: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 34px 10px rgba(232,232,232,1);

    @media (min-width: $screen-xs) {
      height: 200px;
      text-align: center;
    }

    @media (min-width: $screen-sm) {
      width: 220px;
      height: 240px;
      border-radius: 6px;
    }

    @media (min-width: $screen-lg) {
      width: 285px;
      height: 180px;
      border-radius: 6px;
    }
  }

  &__btn {
    margin: 0 auto;

    @media (min-width: $screen-sm) {
      margin-top: 0;
      margin-left: -12px;
    }

    @media (min-width: $screen-lg) {
      margin-top: -20px;
    }
  }

  &__childrenbook {
    grid-area: children;
    background-color: $active;
    box-shadow: 0px 0px 34px 10px rgba(232,232,232,1);

    @media (min-width: $screen-xs) {
      text-align: center;
    }

    @media (min-width: $screen-sm) {
      width: 220px;
      height: 240px;
      border-radius: 6px;
    }

    @media (min-width: $screen-lg) {
      width: 285px;
      height: 180px;
      padding-left: 14px;
      border-radius: 6px;
    }
  }

  &__headline-white {
    color: #fff;
  }

  &__oldbooks {
    grid-area: oldbooks;
    height: 170px;
    border-radius: 6px;
    background-image: url(../img/oldbooks.png);
    background-size: cover;
    text-align: center;

    @media (min-width: $screen-xs) {
      padding-top: 30px;
    }

    @media (min-width: $screen-sm) {
      height: 170px;
    }

    @media (min-width: $screen-lg) {
      width: 890px;
      padding-top: 60px;
    }
  }

  &__aside {
    grid-area: aside;
    width: 260px;
    padding: 0;
    margin-left: 20px;

    @media (min-width: $screen-xs) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: block;
      height: 720px;
    }
  }

  &__asideheadline {
    margin: 0;
    padding-top: 34px;
  }

  &__asidesign {
    margin: 0;
    padding-top: 18px;
    padding-bottom: 38px;
    line-height: 1.5;
  }

  &__asideimg:hover {
    box-shadow: 0px 0px 50px -1px rgba(215,86,157,1);
  }

  &__asideimg {
    width: 260px;
    height: auto;
  }

  &__asidetitle a {
    color: $text-color;
  }

  &__asidedescr {
    line-height: 1.5;
    font-style: italic;
  }

}

