.slider {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $screen-xs) {

  }

  @media (min-width: $screen-sm) {

  }

  @media (min-width: $screen-lg) {

  }

  &__inner {
    display: flex;
    margin: 0 auto;
    padding: 0;

    @media (min-width: $screen-xs) {

    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {
      width: 1042px;
      height: 450px;
    }
  }

  &__item {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (min-width: $screen-xs) {
      padding: 0;
    }

    @media (min-width: $screen-sm) {
      padding: 0;
    }

    @media (min-width: $screen-lg) {
      align-items: flex-start;
      padding-top: 52px;
    }
  }

  &__item-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-xs) {
      align-items: center;
    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {

    }
  }

  &__item-title {
    display: none;
  }

  &__item-descr {
    display: flex;
    margin: 0;
    font-weight: 400;
    font-style: italic;

    @media (min-width: $screen-xs) {
      padding-top: 34px;
      padding-left: 32px;
      padding-bottom: 28px;
      font-size: $font-size-xs;
    }

    @media (min-width: $screen-sm) {
      padding-bottom: 25px;
      padding-left: 0;
      font-size: $font-size-s;
    }

    @media (min-width: $screen-lg) {
      width: 400px;
      padding-left: 0;
      font-size: $font-size-s;
    }
  }

  &__item-border {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    border: solid 8px $gray;

    @media (min-width: $screen-xs) {
      margin: 0 auto;
      padding: 0;
      width: 335px;
      height: 275px;
    }

    @media (min-width: $screen-sm) {
      width: 560px;
      height: 310px;
    }

    @media (min-width: $screen-lg) {
      width: 500px;
      height: 350px;
    }
  }

  &__item-sign {
    display: flex;
    margin: 0;
    font-weight: 700;

    @media (min-width: $screen-xs) {
      font-size: $font-size-m;
      margin: 0;
      padding-left: 16px;
      text-align: left;
    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {
      margin: 0;
      padding-left: 36px;
      padding-top: 50px;
      font-size: $font-size-xl;
    }
  }

  &__item-link {
    display: flex;

    @media (min-width: $screen-xs) {
      margin: 0;

    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {
      margin: 0;
      padding-left: 36px;

    }
  }

  &__item-pic {


    @media (min-width: $screen-xs) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      width: 305px;
      height: 428px;
      padding: 0;
      margin-left: 130px;
      margin-top: 20px;
    }
  }

  &__item-img {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-width: 300px;

    @media (min-width: $screen-xs) {

    }

    @media (min-width: $screen-sm) {

    }

    @media (min-width: $screen-lg) {


    }
  }
}
