.page-header {
	display: flex;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;	
	background-color: $bcg;

	@media (min-width: $screen-xs) {
	 
	}

	@media (min-width: $screen-sm) {
	 
	}
	
	@media (min-width: $screen-lg) {
		width: 100%;		
		flex-direction: row;	
		align-items: center;
		
	}
	
	&__inner {
		display: flex;
		width: 100%;
		margin: 0 auto;
		padding: 0;

		@media (min-width: $screen-xs) {
			display: flex;
			width: 100%;
			margin: 0;
			padding: 0 30px;
			justify-content: space-between;
			align-items: center;
		}

		@media (min-width: $screen-sm) {
		 
		}
		
		@media (min-width: $screen-lg) {
			width: 1280px;	
			margin: 0;	
			padding: 16px 60px;
			flex-direction: row;	
			justify-content: space-between;
			align-items: center;
		}
	}
}


.page-header__logo {
	margin: 0;
	padding: 0;

	@media (min-width: $screen-xs) {
		display: flex;
		justify-content: flex-start;
		flex-grow: 1;
	}
}

.page-header__worktime {
	margin: 0;
	padding-left: 30px;
	font-family: $font-family;
	font-weight: 400;
	font-size: $font-size-xs;
	color: #828282;

	@media (min-width: $screen-xs) {
		display: none;
	}

}