body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.page-header {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	align-items: center;
	background-color: #ffffff;

}

.page-header__inner {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	padding: 16px 60px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin: 0;
	padding: 0;

}

.worktime {
	margin: 0;
	padding: 0 30px;
	color: #828282;
}

.main-nav {
	display: flex;
	flex-direction: row;
	flex-grow: 5;
	margin: 0;
	padding: 0;
}

.main-nav__toggle {
	display: none;
}

.main-nav__list {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	padding: 0;
}

.main-nav__item {	
	margin: 0;
	padding-right: 20px;
	list-style: none;
}

.main-nav__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-weight: 700;
}