$link-color:          #1a1ff7;


$hover:               #f4d4e4;
$active:              #d7569c;
$gray:                #e8e8e8;
$dark-gray:           #ababab;
$bcg:                 #f5f5f5;


$text-color:          #1f1f1f;

$font-family: Montserrat, sans-serif;
$font-size-xxs:       12px;
$font-size-xs:        14px;
$font-size-s:         16px;
$font-size-m:         24px;
$font-size-l:         30px;
$font-size-xl:        40px;
$font-size-xxl:       50px;
$line-height:         1.5;

$screen-xs:           320px;
$screen-sm:           768px;
$screen-lg:           1280px;
